!!!
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/linker/styles/animate.css")
    link(rel="stylesheet", href="/linker/styles/bootstrap.css")
    link(rel="stylesheet", href="/linker/styles/custom.css")
    link(rel="stylesheet", href="/linker/styles/font-awesome.css")
    // STYLES END
    block styles

  body

    .navbar.navbar-inverse.navbar-fixed-top
      .container
        a.navbar-brand(href="/") watchlist

    block body

    .container
      hr
      footer.footer.pull-right
          a(href="http://sailsjs.com/") sails.js
          watchlist app top gun

    // SCRIPTS
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    script(type="text/javascript", src="/linker/js/jquery.js")
    script(type="text/javascript", src="/linker/js/animations.js")
    script(type="text/javascript", src="/linker/js/formValidationTest.js")
    // SCRIPTS END

    // A few key dependencies, linked in order

    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")